@page "/"
@using MyTestBlazor.Repo
@inject IRepository _repository 
<GameListTable Games="games">
</GameListTable>

<IndividualGame Game="@oneGameToShow" IsTable="false" SwitchGame="ShowNewGame" DisplayButtons="true"></IndividualGame>

<div class="row">
    <div class="col text-center">
        <button @onclick="AddNewGame" class="btn btn-success">Add new Game</button>
    </div>
</div>

@code
{
    private List<Game> games ;
    Random rnd;
    Game oneGameToShow;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        games = _repository.GetAllGames();
        rnd = new Random();
        oneGameToShow = games[rnd.Next(0, games.Count)];
    }

    void ShowNewGame()
    {
        oneGameToShow = SwitchGame();
    }

    Game SwitchGame()
    {
        Game tmpGame;
        if (games is {Count: >= 2})
        {
            int iteartor = rnd.Next(0, games.Count);
            tmpGame = games[iteartor];
        }
        else if (games is {Count: 1})
        {
            tmpGame = games.First();
        }
        else
        {
            tmpGame = new Game
            {
                Name = "No items!", ReleaseDate = DateTime.Now
            };
        }
        return tmpGame;
    }

    private void AddNewGame()
    {
        games.Add(new Game(){Name = "Test", Genre = "Test", ReleaseDate = DateTime.Now});
    }
}