@page "/genres/create"
<h3>CreateGenre</h3>
<div class="row">
    <div class="col">
        <h1 class="text-info">Create Genre</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <FormForGenre Genre="genre" OnValidSubmit="Create"></FormForGenre>
    </div>
</div>

@code {
    Genre genre = new Genre();

    private void Create()
    {
    //Logic
    }

}