<div class="row">
    <dic class="col text-center">
        <h1>Welcome Bro</h1>
    </dic>
</div>

<div class="row">
    <dic class="col text-center">
        <h2>All Games</h2>
    </dic>
</div>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>
                <input type="checkbox" @bind="@displaybuttons"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <GenericList ListOfItems="Games">
            <ItemTemplate Context="game">
                <IndividualGame Game="game" IsTable="true" DisplayButtons="displaybuttons" DeleteGame="DeleteTheGame"></IndividualGame>
            </ItemTemplate>
        </GenericList>
        <Confirmation @ref="_confirmation" onCancel="OnCancel" onConfirm="OnConfirm">
            <div class="text-danger">
                Do you wish to delete @gameToBeDeleted?
            </div>
        </Confirmation>
        </tbody>
    </table>
</div>

@code
{
    [Parameter]
    public List<Game> Games { get; set; }

    Game gameToBeDeleted;

    public void DoSomeThing()
    {
    }

    bool displaybuttons;

    void DeleteTheGame(Game game)
    {
        gameToBeDeleted = game;
        _confirmation.Show();
    }

    public void OnConfirm()
    {
        Games.Remove(gameToBeDeleted);
        _confirmation.Hide();
        gameToBeDeleted = null;
    }

    public void OnCancel()
    {
        _confirmation.Hide();
        gameToBeDeleted = null;
    }

    public Confirmation _confirmation { get; set; }
}