<div class="row">
    <dic class="col text-center">
        <h1>Welcome Bro</h1>
    </dic>
</div>

<div class="row">
    <dic class="col text-center">
        <h2>All Games</h2>
    </dic>
</div>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>
                <input type="checkbox" @onchange="(() => displaybuttons = !displaybuttons)"/>
            </th>
        </tr>
        </thead>
        <tbody>
        @if (Games is null)
        {
            <tr>Loading...</tr>
        }
        else if (Games.Count == 0)
        {
            <tr>No elements...</tr>
        }
        else
        {
            @foreach (var item in Games)
            {
                <IndividualGame Game="item" IsTable="true" DisplayButtons="displaybuttons"/>
            }
        }
        </tbody>
    </table>
</div>

@code
{
    [Parameter]
    public List<Game> Games { get; set; }

    bool displaybuttons;
}