<div class="row">
    <dic class="col text-center">
        <h1>Welcome Bro</h1>
    </dic>
</div>

<div class="row">
    <dic class="col text-center">
        <h2>All Games</h2>
    </dic>
</div>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>
                <input type="checkbox" @bind="@displaybuttons"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <GenericList ListOfItems="Games">
            <ItemTemplate Context="game">
                <IndividualGame Game="game" IsTable="true" DisplayButtons="displaybuttons" DeleteGame="DeleteTheGame"></IndividualGame>
            </ItemTemplate>
        </GenericList>
        </tbody>
    </table>
</div>

@code
{
    [Parameter]
    public List<Game> Games { get; set; }



    bool displaybuttons;

    void DeleteTheGame(Game game)
    {
        Games.Remove(game);
    }
}