@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
        <span style="color: green">Hello From Layout (Menu Button Content)</span>

    </div>

    <main>
        <div class="top-row px-4">
            <span style="color: orange">Hello From Layout (Boody Button Content)</span>

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="appStyle">
                    @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code
{
    public AppStyle appStyle { get; set; } = new AppStyle();
//НЕЛЬЗЯ ТАК
   
}