@page "/games/create"
@inject NavigationManager navigation

<div class="row">
    <div class="col">
        <h1 class="text-info text-center text-uppercase">CreateGame</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <button class="btn btn-primary" @onclick="AddNewGame">Add New Game</button>
    </div>
</div>

@code {

    private void AddNewGame()
    {
        navigation.NavigateTo("games");
    }

}